[Desktop Entry]
Type=Application
Exec=sh -c 'conky -c ~/.conky/conky-blur-sample/blur-sample.conky'
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name=conky-blur-sample
Comment=No description
X-GNOME-Autostart-Delay=10
X-MATE-Autostart-Delay=10
Name=conky-blur-sample.desktop
